<section class="newsletter">
<div class="container">
	<h3 class="white-text" data-scrollreveal="enter left after 0s over 1s">Abonnement</h3> <!-- HAUT DE LA SECTION ABONNEMENT -->
	<div class="sub-heading white-text" data-scrollreveal="enter right after 0s over 1s">
		 Donnez nous votre adresse mail pour être au courant de toutes les mise à jour.
	</div>

	<!-- FORME ABONNEMENT -->
	<form action="#" class="subscription" role="form" data-scrollreveal="enter left after 0s over 1s">
		<input type="email" placeholder="Adresse Mail" class="form-control input-box">
		<button class="btn btn-primary custom-button blue-btn">Envoyer</button>
	</form>
	<!-- / FIN FORME ABONNEMENT -->

</div> <!-- / FIN CONTAINER -->
</section> <!-- / FIN SECTION ABONNEMENT -->