
<section class="about-us" id="aboutus">
<div class="container">

	<!-- SECTION DU HAUT -->
	<div class="section-header">

		<!-- TITRE -->
		<h2 class="white-text">Nos compétences</h2>

		<!-- PETITE DESCRIPTION -->
		<h6 class="white-text">
		A propos de la team. Nous comptons 7 membres
		</h6>
	</div>
	<!-- / FIN SECTION DU HAUT -->

	<!-- 3 COLONNE POUR "Nos Compétences" -->
	<div class="row">

		<!-- COLONNE 1 - GROS MESSAGE PAR RAPPORT AU SITE -->
		<div class="col-lg-4 col-md-4 column">
			<div class="big-intro" data-scrollreveal="enter left after 0s over 1s">
				 Nous sommes toujours a votre disposition.
			</div>
		</div>

		<!-- COLONNE 3 - COMPETENCES-->
		<div class="col-lg-4 col-md-4 column">
			<ul class="skills" data-scrollreveal="enter right after 0s over 1s">

				<!-- COMPETENCE 1 -->
				<li class="skill">
					<div class="skill-count">
						<input type="text" value="56" data-thickness=".2" class="skill1">
					</div>
					<h6>Design Web/h6>
					<p>
						2 Designeurs maitrisant la suite Adobe, Blender, Cinema 4d
					</p>
				</li> <!-- FIN COMPETENCE 1 -->

				<!-- COMPETENCE 2 -->
				<li class="skill">
					<div class="skill-count">
						<input type="text" value="10" data-thickness=".2" class="skill2">
					</div>
					<h6>Développement</h6>
					<p>
						2 Analystes-programmeurs fullstack, apte a DEVOPS et au framework SCRUM et 
					</p>
				</li>

				<!-- COMPETENCE 3 -->
				<li class="skill">
					<div class="skill-count">
						<input type="text" value="95" data-thickness=".2" class="skill3">
					</div>
					<h6>Communication digitale</h6>
					<p>
						Community management <br>
						Referencement (SEO, SEA )  <br>
					</p>
				</li>

				<!-- COMPETENCE 4 -->
				<li class="skill">
					<div class="skill-count" style="height : 110px">
						<input type="text" value="95" data-thickness=".2" class="skill4">
					</div>
					<h6>Intégration et refonte de site web</h6>
					<p>
						Nous confectionnons les designs de vos pages,<br>
						Nouvelles charte graphique <br>
						Page optimisé conforme au web 2.0 <br>
						Validation W3C. <br>
					</p>
				</li>

			</ul>
		</div> <!-- / FIN COLONNE COMPETENCE-->

		<!-- COLONNE 2 - INFOS A PROPOS DU SITE -->
		<div class="col-lg-4 col-md-4 column" >
			<div class="big-intro-left" data-scrollreveal="enter bottom after 0s over 1s">
					Votre satisfaction est notre challenge !
			</div>
		</div>

	</div> <!-- / FIN 3 COLONNE A PROPOS DE NOUS-->


	<!-- NOS PARTENAIRES -->
	<div class="our-clients hide">
		<h5><span class="section-footer-title">Nos partenaires</span></h5>
	</div>
	<!-- PARTENAIRE 1 -->
	<div class="client-list hide">
		<ul data-scrollreveal="enter right move 60px after 0.00s over 2.5s">
			<li><a href="#"><img src="" alt="">Aucun pour le moment.</a></li>
		</ul>
	</div> <!-- / FIN DU PARTENAIRE 1 -->
</div> <!-- / FIN CONTENAIRE -->

</section> <!-- FIN "A PROPOS DE NOUS" -->
