<section class="contact-us" id="contact">
<div class="container">

	<!-- SECTION DU HAUT -->
        <div class="section-header">

		<!-- SECTION DU TITRE -->
		<h2 class="white-text">Contactez nous</h2>

		<!-- PETITE DESCRIPTION A PROPOS DU SITE -->
		<h6 class="white-text">
			Vous avez une question ? Envoyez nous un message nous vous répondrons dans les <a>24 Heures</a> qui suivent.
		</h6>
	</div>
	<!-- / FIN DE LA SECTION DU HAUT -->

	<!-- FORMULAIRE DE CONTACT -->
	<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" action="#" class="contact-form">
                <div class="col-lg-6 col-sm-6" data-scrollreveal="enter left after 0s over 1s">
                    <input type="text" name="name" placeholder="Votre Pseudonyme" class="form-control input-box">
                </div>
                <div class="col-lg-6 col-sm-6" data-scrollreveal="enter left after 0s over 1s">
                    <input type="email" name="email" placeholder="Votre adresse e-mail" class="form-control input-box">
                </div>
                <div class="col-xs-12" data-scrollreveal="enter left after 0s over 1s">
                    <input type="text" name="subject" placeholder="Sujet" class="form-control input-box">
                </div>
                <div class="col-xs-12" data-scrollreveal="enter right after 0s over 1s">
                    <textarea rows="4" name="message" class="form-control textarea-box" placeholder="Votre message, constructif s'il vous plaît."></textarea>
                </div>
                <button class="btn btn-primary custom-button green-btn" type="submit" data-scrollreveal="enter left after 0s over 1s">Envoyer le message</button>
            </form>
        </div>
	</div>
	<!-- / FIN DU FORMULAIRE DE CONTACT -->
</div> <!-- / FIN CONTAINER -->
</section> <!-- / FIN DE LA SECTION CONTACTEZ NOUS -->
