
<section class="our-team" id="team">
<div class="container">

	<!-- SECTION DU HAUT -->
	<div class="section-header">

		<!-- TITRE DE SECTION -->
		<h2 class="dark-text">Notre équipe</h2>

		<!-- PETITE DESCRIPTION -->
		<h6>
			Regardez l'équipe qui travaille sur votre projet.
		</h6>
	</div>
	<!-- / FIN SECTION DU HAUT -->

	<!-- LES MEMBRES -->
	<div class="row" data-scrollreveal="enter left after 0s over 2s">
		<!-- MEMBRE -->

		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic1.jpg" alt=""> <!-- IMAGE DU MEMBRE -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Nkumbe Aurelien</h5>
					<div class="position">
						<div class="alert alert-success">
							1er CEO <br>
							Directeur Technique
						</div>
					</div>
					<div class="position">
						Developpeur Fullstack / Digital manager
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href="https://www.facebook.com/igor.nathan.359"><i class="icon-facebook"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-twitter-alt"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Le site à était inventé et fait par moi-même, sur ce site, une multitude de choses sont possible.
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic1.jpg" alt=""> <!-- IMAGE DU MEMBRE -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Kamto Igor Nathan</h5>
					<div class="position">
						CM / Digital manager
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href="https://www.facebook.com/igor.nathan.359"><i class="icon-facebook"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-twitter-alt"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Le site à était inventé et fait par moi-même, sur ce site, une multitude de choses sont possible.
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic1.jpg" alt=""> <!-- IMAGE DU MEMBRE -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Ngouen Idrissou</h5>
					<div class="position">
						Créateur / Designer
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href="https://www.facebook.com/idrissou.ngouen"><i class="icon-facebook"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-twitter-alt"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Le site à était inventé et fait par moi-même, sur ce site, une multitude de choses sont possible.
					</p>
				</div>
			</div>
		</div>
		<!-- / FIN DE MEMBRE -->
<!-- / FIN DE LA LISTE DES MEMBRES -->

</div> <!-- / FIN CONTENAIRE -->
</section> <!-- / FIN DE LA SECTION DE NOTRE EQUIPE -->