
<section class="our-team" id="team">
<div class="container">

	<!-- SECTION DU HAUT -->
	<div class="section-header">

		<!-- TITRE DE SECTION -->
		<h2 class="dark-text">Notre équipe</h2>

		<!-- PETITE DESCRIPTION -->
		<h6>
			Regardez l'équipe qui travaille sur votre projet.
		</h6>
	</div>
	<!-- / FIN SECTION DU HAUT -->

	<!-- LES MEMBRES -->
	<div class="row" data-scrollreveal="enter left after 0s over 2s">
		<!-- MEMBRE -->

		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic1.jpg" alt=""> <!-- IMAGE DU MEMBRE -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Nkumbe Aurelien</h5>
					<div class="position">
						Developpeur Fullstack
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href="https://www.facebook.com/nkumbeaurelien"><i class="icon-facebook"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-twitter-alt"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						1er CEO <br>
						Directeur Technique <br>
						Ingenieur Genie logiciel
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic2.jpg" alt=""> <!-- IMAGE DU MEMBRE -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Ngouen Idrissou</h5>
					<div class="position">
						<em>Crea / Web design</em>
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href="https://www.facebook.com/idrissou.ngouen"><i class="icon-facebook"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-twitter-alt"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						2eme CEO <br>
						Directeur Artististique <br>
						Ingenieur Genie logiciel
					</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic3.jpg" alt=""> <!-- IMAGE DU MEMBRE -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Kamto Igor Nathan</h5>
					<div class="position">	
						CMS / CM	
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href="https://www.facebook.com/igor.nathan.359"><i class="icon-facebook"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-twitter-alt"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						3eme CEO <br>
						Directeur Marketing & Strategique <br>
						Ingenieur Genie logiciel
					</p>
				</div>
			</div>
		</div>


		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic4.jpg" alt=""> <!-- IMAGE DU MEMBRE -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Bichara Laouane</h5>
					<div class="position">	
						CMS / CD
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href="https://www.facebook.com/bicharalaouane"><i class="icon-facebook"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-twitter-alt"></i></a></li>
						<li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Directeur Commercial <br>
						Ingenieur Genie logiciel
					</p>
				</div>
			</div>
		</div>
		<!-- / FIN DE MEMBRE -->
<!-- / FIN DE LA LISTE DES MEMBRES -->

</div> <!-- / FIN CONTENAIRE -->
</section> <!-- / FIN DE LA SECTION DE NOTRE EQUIPE -->