
<section class="features" id="features">
<div class="container">

		<!-- SECTION DU HAUT -->
	<div class="section-header">

		<!-- TITRE DE LA SECTION -->
		<h2 class="dark-text">À propos de notre site</h2>

		<!-- PETITE DESCRIPTION -->
		<h6>
			Notre site avec un design unique et entièrement en français, voici ses caractéristiques.
		</h6>
	</div>
	<!-- / FIN SECTION DU HAUT -->

	<!-- LES INFORMATIONS -->
	<div class="row">

		<!-- COLONNE DE GAUCHE -->
		<div class="col-md-6" data-scrollreveal="enter left after 0s over 1s">

			<!-- INFORMATION -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-heart-1"></i>
				</div>
				<h5>De l'amour dans notre design</h5>
				<p>
					 En fesant notre design de site, nous avons mis de l'amour dedans pour le rendre plus beau.
				</p>
			</div>
			<!-- / FIN DE L'INFO -->

			<!-- INFORMATION -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-bulb"></i>
				</div>
				<h5>Système entièrement pensé</h5>
				<p>
					 Sur <a>Mister Host</a> tous nos systèmes sont pensés, du meilleur au plus mauvais !
				</p>
			</div>
			<!-- / FIN DE L'INFO -->

			<!-- INFORMATION -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-settings-1"></i>
				</div>
				<h5>Enormément d'option sont disponibles</h5>
				<p>
					 Ce site peut s'adapter à un site particulier ( Chaîne YouTube... ), ainsi qu'un site de vente en ligne ( Vente de logiciel... ).
				</p>
			</div>
			<!-- / FIN DE L'INFO -->
		</div> <!-- / FIN COLONNE DE GAUCHE-->

		<!-- COLONNE DE DROITE -->
		<div class="col-md-6" data-scrollreveal="enter right after 0s over 1s">
			<!-- INFORMATION -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-params"></i>
				</div>
				<h5>Facilement modifiable</h5>
				<p>
					 Ce site ce modifi très facilement, tous est expliqué en français dans le code <a>HTML</a>.
				</p>
			</div>
			<!-- / FIN DE L'INFO -->

			<!-- INFORMATION -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-handle-streamline-vector"></i>
				</div>
				<h5>Site sur une seule page</h5>
				<p>
					 Sans compter ses pages secondaires ( Achats... ) le site est formé sur une seule et unique page, elle est fluide et rapide, permettant au client de tous visionner sans un clic !
				</p>
			</div>
			<!-- / FIN DE L'INFO -->

			<!-- INFORMATION -->
			<div class="feature">
				<div class="feature-icon">
					<i class="icon-speech-streamline-talk-user"></i>
				</div>
				<h5>Support de contact</h5>
				<p>
					 Le site dispose d'un support de contact par e-mail tous en bas de de la page, facile et rapide, vous recevrez une réponse sous un délai de <a>24 heures</a>.
				</p>
			</div>
			<!-- / FIN DE L'INFO -->

		</div> <!-- / FIN COLONNE DROITE -->
	</div> <!-- / FIN "A PROPOS DE NOTRE SITE" -->
</div> <!-- / FIN CONTENAIRE -->
</section> <!-- / FIN SECTION "A PROPOS DE NOTRE SITE" -->