
<footer>
<div class="container">

	<!-- ADRESSE -->
	<div class="col-md-5 company-details">
		<div class="icon-top red-text">
		    <i class="icon-fontawesome-webfont-302"></i>
		</div>
		Gironde, Aquitaine 33160
	</div>

	<!-- EMAIL-->
	<div class="col-md-2 company-details">
		<div class="icon-top green-text">
		<i class="icon-fontawesome-webfont-329"></i>
		</div>
		 mhost@contact.com
	</div>

	<!-- NUMERO DE TELEPHONE -->
	<div class="col-md-2 company-details">
		<div class="icon-top blue-text">
		<i class="icon-fontawesome-webfont-101"></i>
		</div>
		Aucun numéro actuel.
	</div>

	<!-- ICONE RESAUX SOCIAUX ET COPYRIGHT -->
	<div class="col-lg-3 col-sm-3 copyright">
		<ul class="social">
			<li><a href="#"><i class="icon-facebook"></i></a></li>
			<li><a href="http://twitter.com/theflo5002"><i class="icon-twitter-alt"></i></a></li>
			<li><a href="http://youtube.com/theflo5002"><i class="icon-youtube"></i></a></li>
		</ul>
		 Développé par <a href="http://kamitbrains.tk"><img src="images/kamitbrains-blue.png" alt="Mister">.<br></img></a> <!-- NE PAS CHANGER -->
		 © 2014 - 2015 | Copyright Mister Host																<!-- LE COPYRIGHT ! -->
	</div>
</div> <!-- / FIN CONTAINER -->
</footer> <!-- / FIN PIED DE PAGE  -->
