<section class="works" id="works">
<div class="container">

	<!-- SECTION DU HAUT-->
	<div class="section-header">

		<!-- TITRE -->
		<h2 class="dark-text">Galerie des realisations</h2>

		<!-- PETITE DESCRIPTION -->
		<h6>
			Nous vous presentons notre savoir faire et notre social
		</h6>
	</div>
	<!-- / FIN SECTION DU HAUT -->

	<div class="row projects" id="instafeed"></div>

	<div class="row projects">
	<div id="loader">
	    <div class="loader-icon"></div>
	</div>
	<div class="col-md-12" id="portfolio-list">
		<!-- IMAGES GALERIE -->
		<ul class="cbp-rfgrid">

        <!-- IMAGE -->
        <li data-scrollreveal="enter left after 0s over 1s">
        <a href="project.html" class="more"><img src="images/portfolio/1.jpg"  alt="project"/> <!-- Changer le href="project.html" par le votre, exemple : href="image1.html" -->
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text green-border-bottom">
					Image d'exemple 1</h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

        <!-- IMAGE -->
        <li data-scrollreveal="enter top after 0s over 1s">
        <a href="project.html" class="more"><img src="images/portfolio/2.jpg" alt="project" />
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Image d'exemple 2</h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

        <!-- IMAGE -->
        <li data-scrollreveal="enter top after 0s over 1s">
        <a href="project.html" class="more"><img src="images/portfolio/3.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text blue-border-bottom">
					Image d'exemple 3</h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

		<!-- IMAGE -->
        <li data-scrollreveal="enter right after 0s over 1s">
        <a href="project.html" class="more"><img src="images/portfolio/4.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text yellow-border-bottom">
					Image d'exemple 4</h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

        <!-- IMAGE -->
        <li data-scrollreveal="enter left after 0s over 1.15s">
        <a href="project.html" class="more"><img src="images/portfolio/5.jpg" alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Image d'exemple 5 </h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

        <!-- IMAGE -->
        <li>
        <a href="project.html" class="more"><img src="images/portfolio/6.jpg" alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Image d'exemple 6</h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

         <!-- IMAGE -->
        <li>
        <a href="project.html" class="more"><img src="images/portfolio/7.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Image d'exemple 7</h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

         <!-- IMAGE -->
        <li data-scrollreveal="enter right after 0s over 1.15s">
        <a href="project.html" class="more"><img src="images/portfolio/8.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Image d'exemple 8</h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

        <!-- IMAGE -->
        <li data-scrollreveal="enter left after 0s over 1.15s">
        <a href="project.html" class="more"><img src="images/portfolio/9.jpg" alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Image d'exemple 9</h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

        <!-- IMAGE -->
        <li data-scrollreveal="enter bottom after 0s over 1.15s">
        <a href="project.html" class="more"><img src="images/portfolio/10.jpg" alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Image d'exemple 10</h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

        <!-- IMAGE -->
        <li data-scrollreveal="enter bottom after 0s over 1.15s">
        <a href="project.html" class="more"><img src="images/portfolio/11.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Image d'exemple 11</h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

        <!-- IMAGE -->
        <li data-scrollreveal="enter right after 0s over 1.15s">
        <a href="project.html" class="more"><img src="images/portfolio/12.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Image d'exemple 12</h5>
					<div class="details white-text">
						Par Mister
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / FIN IMAGE -->

        <!-- ... -->
		</ul>
	</div>
	<!-- FIN IMAGES GALERIE -->
</div>

	<!-- PAGE DE PROJET CHARGE ICI -->
	<div id="loaded-content"></div>

    <a id="back-button" class="blue-btn" href="#"><i class="icon-fontawesome-webfont-27"></i> Revenir en arrière</a>

</div> <!-- / FIN CONTENAIRE -->
</section> <!-- / FIN GALERIE -->
