
<section class="focus" id="focus">
<div class="container">

	<!-- SECTION DU HAUT -->
	<div class="section-header">

		<!-- TITRE -->
		<h2 class="dark-text">Nos services</h2>

		<!-- PETITE DESCRPTION -->
		<h6>
			Notre design est basé sur une seule page, fluide, claire et nette.
		</h6>
	</div>
	<!-- / FIN SECTION DU HAUT -->

	<!-- DEBUT DES 4 BOITES -->
	<div class="row">

		<!-- DEBUT PREMIERE BOITE -->
		<div class="col-lg-3 col-sm-3 focus-box red" data-scrollreveal="enter left after 0.15s over 1s">
			<div class="service-icon">
				<i class="pixeden pd-icon-monitor"></i> <!-- ICONE DE LA BOITE-->
			</div>
			<h5 class="red-border-bottom">Web Design </h5> <!-- HAUT DE LA BOITE -->
			<p> <!-- DESCRIPTION DE LA BOITE -->
				 Le design du site à était créé par Mister, basé sur du Flat design ( Nouveau design comme Windows 8 ).
			</p>
		</div>
		<!-- / FIN DE LA PREMIERE BOITE. Les autres boîtes on le même format. -->

		<div class="col-lg-3 col-sm-3 focus-box green" data-scrollreveal="enter left after 0.15s over 1s">
			<div class="service-icon">
				<span class="pixeden pd-icon-camera"></span>
			</div>
			<h5 class="green-border-bottom">Web Development</h5>
			<p>
				 Nos images sont toutes faite et prises par Mister, afin d'éviter les droits d'auteur et être unique.
			</p>
		</div>

		<div class="col-lg-3 col-sm-3 focus-box blue" data-scrollreveal="enter right after 0.15s over 1s">
			<div class="service-icon">
				<i class="pixeden pd-icon-email-marketing"></i>
			</div>
			<h5 class="blue-border-bottom">SEO OPTIMISATION</h5>
			<p>
				 Pour nous contacter, c'est très simple, il vous suffit de nous envoyer un mail à l'adresse suivante : m.host@contact.com
			</p>
		</div>

		<div class="col-lg-3 col-sm-3 focus-box yellow" data-scrollreveal="enter right after 00.15s over 1s">
			<div class="service-icon">
				<i class="pixeden pd-icon-check"></i>
			</div>
			<h5 class="yellow-border-bottom">SOCIAL MEDIA MARKETING</h5>
			<p>
				 Nos service sont certifié et reconnus par des professionels de haut niveaux.
			</p>
		</div>
	</div>
	<!-- / FIN DES 4 BOITES -->

	<!-- DEBUT PETITE LISTE -->
	<div class="other-focuses">
		<h5><span class="section-footer-title">APRÈS VOUS POUVEZ NOUS SUIVRE SUR</span></h5>
	</div>

	<!-- ITEMS PETITE LISTE -->
	<div class="other-focus-list">
		<ul data-scrollreveal="enter bottom after 0s over 1s">
			<li><i class="icon-fontawesome-webfont-8"></i>Les application d'internet</li>
			<li><i class="icon-fontawesome-webfont-267"></i>Les moteurs de recherche avancé</li>
			<li><i class="icon-fontawesome-webfont-75"></i>Le cloud store</li>
			<li><i class="icon-fontawesome-webfont-358"></i>Notre futur projet de CMS </li>
			<li><i class="icon-fontawesome-webfont-102"></i>Notre application iOS</li>
			<li><i class="icon-fontawesome-webfont-328"></i>Notre application Android</li>
			<li><i class="icon-fontawesome-webfont-195"></i>Notre application Windows</li>
			<li><i class="icon-fontawesome-webfont-297"></i><a href="http://cubecraft-pvp.crystal-serv.com">Mon site</a></li>
		</ul>
	</div> <!-- / FIN DE LA PETITE LISTE -->
</div> <!-- / FIN CONTENAIRE -->
</section>  <!-- / FIN SECTION PLAN DU SITE -->