
<section class="packages" id="pricingtable">
<div class="container">

	<!-- SECTION DU HAUT -->
	<div class="section-header">

		<!-- TITRE DE LA SECTION -->
		<h2 class="white-text">Combient ca coute?</h2>

		<!-- PETITE DESCRIPTION-->
		<h6 class="white-text">
			Nous avons 4 packs pour vous, choississez celui qui vous correspondra le mieu !
		</h6>
	</div>
	<!-- / FIN SECTION DU HAUT -->

	<!-- HEBERGEMENT -->
	<div class="row">

		<!-- PREMIER HEBERGEMENT -->
		<div class="col-lg-3 col-sm-3">
			<div class="package" data-scrollreveal="enter left after 0s over 1s">
				<div class="package-header green-bg">
					<h5>Basique</h5>
				</div>
				<div class="price dark-bg">
					<div class="price-container">
					<h4><span class="dollar-sign"></span>Gratuit</h4><span class="price-meta">

					</span>
					</div>
				</div>
				<ul>
					<li><i class="icon-check"></i>Disque dur de 1 GB</li>
					<li><i class="icon-check"></i>Bande passante de 100 MB/s</li>
					<li><i class="icon-cancel"></i>Tutoriel d'installation</li>
					<li><i class="icon-cancel"></i>Sauvegarde automatique</li>
					<li><i class="icon-cancel"></i>Sécuriter avancé</li>
				</ul>
				<a href="#" class="btn btn-primary custom-button green-btn">
				Acheter </a>
			</div>
		</div> <!-- / FIN DU PREMIER HEBERGEMENT -->

		<div class="col-lg-3 col-sm-3">
			<div class="package" data-scrollreveal="enter left after 0s over 1s">
				<div class="package-header blue-bg">
					<h5>Standard</h5>
				</div>
				<div class="price dark-bg">
					<div class="price-container">
					<h4><span class="dollar-sign">€</span>2,50 </h4>
					<span class="price-meta">/ Mo</span>
					</div>
				</div>
				<ul>
					<li><i class="icon-check"></i>Disque dur de 50 GB</li>
					<li><i class="icon-check"></i>Bande passante de 250 MB/s</li>
					<li><i class="icon-cancel"></i>Tutoriel d'installation</li>
					<li><i class="icon-cancel"></i>Sauvegarde automatique</li>
					<li><i class="icon-cancel"></i>Sécuriter avancé</li>
				</ul>
				<a href="#" class="btn btn-primary custom-button blue-btn">
				Acheter </a>
			</div>
		</div>

		<div class="col-lg-3 col-sm-3">
			<div class="best-value">
				<div class="package" data-scrollreveal="enter bottom after 0s over 1s">
					<div class="package-header red-bg">
						<h4>V.I.P</h4>
						<div class="meta-text">
							Meilleur offre
						</div>
					</div>
					<div class="price dark-bg">
						<h4><span class="dollar-sign">€</span>3</h4>
						<span class="price-meta">/ mo</span>
					</div>
					<ul>
						<li><i class="icon-check"></i>Disque dur de 250 GB</li>
						<li><i class="icon-check"></i>Bande passante non mesuré</li>
						<li><i class="icon-check"></i>Tutoriel d'installation</li>
						<li><i class="icon-cancel"></i>Sauvegarde Automatique</li>
						<li><i class="icon-cancel"></i>Sécuriter avancé</li>
					</ul>
					<a href="#" class="btn btn-primary custom-button red-btn">
				Acheter </a>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-3">
			<div class="package" data-scrollreveal="enter right after 0s over 1s">
				<div class="package-header yellow-bg">
					<h5>Titan</h5>
				</div>
				<div class="price dark-bg">
					<h4><span class="dollar-sign">€</span>4,50 </h4>
					<span class="price-meta">/ mo</span>
				</div>
				<ul>
					<li><i class="icon-check"></i>Disque dur de 1 To</li>
					<li><i class="icon-check"></i>Bande passante non mesuré</li>
					<li><i class="icon-check"></i>Tutoriel d'installation</li>
					<li><i class="icon-check"></i>Sauvegarde Automatique</li>
					<li><i class="icon-check"></i>Sécuriter avancé</li>
				</ul>
				<a href="#" class="btn btn-primary custom-button yellow-btn">
				Acheter </a>
			</div>
		</div>
	</div> <!-- / FIN HEBERGEMENT -->

</div> <!-- FIN CONTENAIRE -->
</section> <!-- FIN HEBERGEMENTS SECTION -->