
<section class="products" data-type="background" data-speed="1" id="products">
<div class="color-overlay">
	<div class="container">

    <!-- SECTION DU HAUT -->
        <div class="section-header">

		<!-- SECTION DU TITRE -->
		<h2 class="white-text">Nos produits</h2>

		<!-- PETITE DESCRIPTION -->
		<h6 class="white-text">
			Nous disposons d'énormément de produits, chère ou pas, ils sont excellent. <h6 class="blue-text">( 1 pour le moment, les autres arrivent ).</h6>
		</h6>
	</div>
	<!-- / FIN DE LA SECTION DU HAUT -->

		<!-- PRODUITS -->
		<div class="row" data-scrollreveal="enter left after 0s over 1s">

            <!-- PREMIER PRODUIT -->
                <div class="col-md-3">
				<div class="item item-1">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Mister Host</h5>  <!-- TITRE DU PRODUIT -->
										<p class="subdescription">
											 Template pour Bootstrap
										</p> <!-- DESCRIPTION DU PRODUIT -->
									</div>
								</div>
								<div class="item-product-price">
									<!-- PRIX -->
									<span class="price-num orange-text">Gratuit</span>
							        <!-- ANCIEN PRIX ( SUPPRIMER POUR ENLEVER-->
									<p class="subdescription">
										 2,99€
									</p>
									<div class="old-price">
									</div> <!-- FIN DE L'ANCIEN PRIX -->
								</div>
							</div>
						</div>

						<!-- ITEM LORSQUE LE CURSEUR PASSE DESSUS -->
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Thème bootstrap sur une seule page.
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button blue-btn">Démonstration</a><br/>
									<a href="#" class="btn btn-primary custom-button purple-btn">Télécharger</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- / FIN DU PREMIER ITEM -->
		</div> <!-- / FIN DE LA LISTE DES PRODUITS-->
	</div> <!-- / FIN DU CONTAINER -->
</div> <!-- / FIN DES COULEURS -->
</section> <!-- / FIN DE LA SECTION DES PRODUITS -->