
<section class="focus" id="focus">
<div class="container">

	<!-- SECTION DU HAUT -->
	<div class="section-header">

		<!-- TITRE -->
		<h2 class="dark-text">Nos services</h2>

		<!-- PETITE DESCRPTION -->
		<h6>
			Notre design est basé sur une seule page, fluide, claire et nette.
		</h6>
	</div>
	<!-- / FIN SECTION DU HAUT -->

	<!-- DEBUT DES 4 BOITES -->
	<div class="row">

		<!-- DEBUT PREMIERE BOITE -->
		<div class="col-lg-3 col-sm-3 focus-box red" data-scrollreveal="enter left after 0.15s over 1s">
			<div class="service-icon">
				<!--i class="pixeden pd-icon-monitor"></i--> <!-- ICONE DE LA BOITE-->
				<img src="images/team/serv1.jpg" class="serv1  tooltip-html"alt="">
			</div>
			<h5 class="red-border-bottom">Web Design </h5> <!-- HAUT DE LA BOITE -->
			<p> <!-- DESCRIPTION DE LA BOITE -->
				 La conception Web est un art! 
			</p>
			<p class="hide" style="text-align: justify;"> <!-- DESCRIPTION DE LA BOITE -->
				 La conception Web est un art! La conception de votre site Web montre votre perspicacité d'affaires.
				 Dans les technologies Web, votre site Web est la première entité qui interagit avec le visiteur,
				  votre site Web devrait donc parler d'elle-même!
					De plus, nous nous efforçons de faire en sorte que tous nos sites répondent aux normes
					d'accessibilité exigées par le World Wide Web Consortium .
			</p>
		</div>
		<!-- / FIN DE LA PREMIERE BOITE. Les autres boîtes on le même format. -->

		<div class="col-lg-3 col-sm-3 focus-box green" data-scrollreveal="enter left after 0.15s over 1s">
			<div class="service-icon">
				<!--span class="pixeden pd-icon-camera"></span-->
				<img src="images/team/serv2.jpg" class="serv1 tooltip-html"alt="">
			</div>
			<h5 class="green-border-bottom">Web Development</h5>
			<p >
				 Notre équipe dispose de compétences professionnelles confirmées.
			</p>
			<p class="hide" style="text-align: justify;">
				 Notre équipe dispose de compétences professionnelles confirmées dans la gestion de projets informatiques.
				 De la conception logicielle au développement web, en passant par la maintenance (logicielle et matérielle),
					Lorsque les limites de la solution CMS ou E-commerce emballée font obstacle à l'agenda des clients, nous proposons notre option de développement de site Web personnalisé.
					Nous avons une vaste expérience dans le développement de sites et d'applications de tous types, complexités et budgets.
			</p>
		</div>

		<div class="col-lg-3 col-sm-3 focus-box blue" data-scrollreveal="enter right after 0.15s over 1s">
			<div class="service-icon">
				<!--i class="pixeden pd-icon-email-marketing"></i-->
				<img src="images/team/serv3.png" class="serv1 tooltip-html"alt="">
			</div>
			<h5 class="blue-border-bottom">SEO OPTIMISATION</h5>
			<p >
				Nous réalisons un audit complet de votre site internet...
			</p>
			<p class="hide" style="text-align: justify;">
				Expert en webmarketing, nous mettons  à votre disposition notre savoir faire et vous proposons une prestation de référencement.
				Nous prenons en charge tout le processus de référencement naturel de votre site internet : une étude concurrentielle approfondie,
				une analyse de votre activité, la détection  de vos cibles marketing et communication.
				Nous réalisons un audit complet de votre site internet, une analyse des requêtes de votre cible tout en assurant la conception de votre stratégie de référencement SEO,
 			une optimisation des contenus rédactionnels du site et une inscription et indexation manuelle à  l’ensemble des moteurs référents.

			</p>
		</div>

		<div class="col-lg-3 col-sm-3 focus-box yellow" data-scrollreveal="enter right after 00.15s over 1s">
			<div class="service-icon">
				<!--i class="pixeden pd-icon-check"></i-->
				<img src="images/team/serv4.jpg" class="serv1 tooltip-html"alt="">
			</div>
			<h5 class="yellow-border-bottom">SOCIAL MEDIA MARKETING</h5>
			<p >
				 Puissant outil de communication, ...
			</p>
			<p  class="hide" style="text-align: justify;">
				 Puissant outil de communication, les médias sociaux permettent aux entreprises d'atteindre leurs clients là où ils sont,
				 tout en caractérisant leurs marques et en élargissant leur clientèle.
				 Si cela est fait correctement, le marketing des médias sociaux peut également augmenter l'efficacité d'autres techniques de marketing - y compris SEO et SEM -
				 en aidant à construire des liens naturels et à générer du trafic,
				  de la notoriété et de la bonne volonté. Si vous avez eu des problèmes avec la stratégie,
				  la gestion ou la publicité sur les médias sociaux, nous pouvons vous aider.
			</p>
		</div>
	</div>
	<!-- / FIN DES 4 BOITES -->

	<!-- DEBUT PETITE LISTE -->
	<div class="other-focuses">
		<h5><span class="section-footer-title">APRÈS VOUS POUVEZ NOUS SOLLICITER POUR D'AUTRES SERVICES</span></h5>
	</div>

	<!-- ITEMS PETITE LISTE -->
	<div class="other-focus-list">
		<ul data-scrollreveal="enter bottom after 0s over 1s">
			<li><i class="icon-fontawesome-webfont-8"></i>Conception 2D/3D </li>
			<li><i class="icon-fontawesome-webfont-267"></i>Video survaillance</li>
			<li><i class="icon-fontawesome-webfont-75"></i>Integration des services et Cloud</li>
			<li><i class="icon-fontawesome-webfont-358"></i>Installation reseau </li>
			<li><i class="icon-fontawesome-webfont-102"></i>Organidation des evenements</li>
			<li><i class="icon-fontawesome-webfont-328"></i>Montage Audio et video</li>
			<li><i class="icon-fontawesome-webfont-195"></i>Assistance technique</li>
			<li><i class="icon-fontawesome-webfont-297"></i><a href="javascript:void(0)">Formation en informatique et multimedia</a></li>
		</ul>
	</div> <!-- / FIN DE LA PETITE LISTE -->
</div> <!-- / FIN CONTENAIRE -->
</section>  <!-- / FIN SECTION PLAN DU SITE -->
