
<section class="stats">
	<div class="container">
	    <!-- STATISTIQUES -->
	    <div class="row">

	        <!-- DEBUT COLONNE -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat" data-scrollreveal="enter bottom after 0s over 1s">
	                <div class="icon-top red-text">
	                    <i class="icon-design-graphic-tablet-streamline-tablet"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text red-border-bottom">1,236</h3>
	                <h6>Téléchargements</h6>
	                </div>
	            </div>
	        </div> <!-- / FIN COLONNE -->

	        <!-- DEBUT COLONNE -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat" data-scrollreveal="enter bottom after 0.15s over 1.15s">
	                <div class="icon-top green-text">
	                    <i class="icon-man-people-streamline-user"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text green-border-bottom">264</h3>
	                <h6>Clients satisfaits</h6>
	                </div>
	            </div>
	        </div> <!-- / FIN COLONNE -->

	        <!-- DEBUT COLONNE -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat" data-scrollreveal="enter bottom after 0.3s over 1.3s">
	                <div class="icon-top blue-text">
	                    <i class="icon-email-mail-streamline"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text blue-border-bottom">2,654</h3>
	                <h6>Conversations par Mail</h6>
	                </div>
	            </div>
	        </div> <!-- / FIN COLONNE -->

	        <!-- DEBUT COLONNE -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat" data-scrollreveal="enter bottom after 0.45s over 1.45s">
	                <div class="icon-top yellow-text">
	                    <i class="icon-picture-streamline-1"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text yellow-border-bottom">4</h3>
	                <h6>Fonds d'écrans offerts</h6>
	                </div>
	            </div>
	        </div> <!-- / FIN COLONNE -->
	    </div>
</div>
</section>  <!-- / FIN DES STATISTIQUES -->