
<section class="purchase-now">
<div class="container">
	<div class="row">
		<div class="col-md-9" data-scrollreveal="enter left after 0s over 1s">
			<h3 class="white-text">
			Alors ? Vous aimez notre template ? Alors c'est partit ! Téléchargez là gratuitement.</h3>
		</div>
		<div class="col-md-3" data-scrollreveal="enter right after 0s over 1s">
			<a href="#" class="btn btn-primary custom-button green-btn">Télécharger maintenant</a>
		</div>
	</div>
</div>
</section> <!-- / FIN DU TELECHARGEMENT. (DE LA TEMPLATE PAR EXEMPLE) -->
