<section class="testimonial" id="testimonials">
    <div class="container">
    
          <!-- SECTION DU HAUT -->
            <div class="section-header">
    
            <!-- TITRE DE LA SECTION -->
            <h2 class="white-text">Témoignage</h2>
    
            <!-- PETITE DESCRIPTION -->
            <h6 class="white-text">
                Nous travaillons énormément sur notre template, voici les témoignage de nos clients satisfaits.
            </h6>
        </div>
        <!-- / FIN SECTION DU HAUT -->
    
        <!-- LES TEMOIGNAGES -->
        <div class="row" data-scrollreveal="enter right after 0s over 1s">
            <div class="col-md-12">
                <div id="client-feedbacks" class="owl-carousel owl-theme">
    
                    <!-- PREMIERE BOITE FEEDBACK-->
                    <div class="feedback-box">
    
                        <!-- MESSAGE DU CLIENT -->
                        <div class="message">
                             “Je trouve <a>Mister Host</a> vraiment bien, fluide, efficace et rapide.”
                        </div>
    
                        <!-- INFORMATIONS DU CLIENT -->
                        <div class="client">
                            <div class="quote red-text">
                                <i class="icon-fontawesome-webfont-294"></i>
                            </div>
                            <div class="client-info">
                                <a class="client-name">Cedric</a>
                                <div class="client-company">
                                     Client, Cuisinier
                                </div>
                            </div>
                            <div class="client-image hidden-xs">
                                <img src="" alt="">
                            </div>
                        </div> <!-- / FIN DES INFORMATIONS DU CLIENT -->
                    </div> <!-- / FIN DE LA PREMIERE FEEDBACK-->
    
                    <div class="feedback-box">
                        <div class="message">
                             “Je trouve ce site vachement bien. J'espère qu'il serat beaucoup utilisé.”
                        </div>
                        <div class="client">
                            <div class="quote orange-text">
                                <i class="icon-fontawesome-webfont-294"></i>
                            </div>
                            <div class="client-info">
                                <a class="client-name" href="http://eywek.fr">Eywek</a>
                                <div class="client-company">
                                     Développeur web, Mine Web
                                </div>
                            </div>
                            <div class="client-image hidden-xs">
                                <img src="images/clients-pic/eywek.jpg" alt="">
                            </div>
                        </div>
                    </div>
    
                </div> <!-- / FIN FEEDBACKS -->
            </div> <!-- / FIN COLONNE -->
        </div> <!-- / FIN ROW -->
    
    </div> <!-- / FIN CONTAINAIRE -->
</section> <!-- / FIN TEMOIGNAGE -->